<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'blueprintActions')}">
<head>
    <meta charset="UTF-8">
    <title>List of Blueprints</title>
</head>
<body>
<h2 th:text="'List of Blueprints'">List of Blueprints</h2>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Activity</th>
        <th></th>
    </tr>
    <!--/*@thymesVar id="blueprint" type="squareonex.evetrackerdata.model.BlueprintAction"*/-->
    <tr th:each="action: ${blueprintActions}">
        <td th:text="${action.blueprint.id}"></td>
        <td th:text="${action.blueprint.name}"></td>
        <td th:text="${action.activity.name}"></td>
        <td><a href="#" th:href="@{'/blueprints/' + ${action.blueprint.id} + '/' + ${action.activity.id} + '/show'}">View</a></td>
    </tr>
</table>
</body>
</html>