<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'transactions')}">
<head>
    <meta charset="UTF-8">
    <title>Transaction Index</title>
</head>
<body>
    <h2 th:text="'List of Transactions'">List of Transactions</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Price</th>
            <th>Is Buy</th>
        </tr>
        <tr th:each="t: ${transactions}">
            <td th:text="${t.id}"></td>
            <td th:text="${t.item.name}"></td>
            <td th:text="${t.quantity}"></td>
            <td th:text="${#numbers.formatCurrency(t.price)}"></td>
            <td th:text="${#numbers.formatCurrency(t.price / t.quantity)}"></td>
            <td th:text="${t.isBuy}"></td>
        </tr>
    </table>
</body>
</html>