<!doctype html>
<html th:fragment="layout (template, menu)" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/resources/css/eve-tracker.css}" />

    <title>Eve Tracker</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">Sonni's Eve Tracker</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/index">Home</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/blueprints">Blueprints</a></li>
                <li><a href="/transactions">Transactions</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="container xd-container">

            <th:block th:insert="${template}" />

            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <!-- Placeholder Footer -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>