<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="bpc-selection-panel (blueprintCopies, jobCommand)" class="panel panel-default">
    <div class="panel-heading">
        Select a Blueprint Copy
    </div>
    <div class="panel-body">
        <div class="radio" th:each="bpc : ${blueprintCopies}">
            <label>
                <input type="radio" class="overflow-scroll"
                       th:field="*{blueprintCopy}"
                       th:text="'Runs: ' + ${bpc.maxRuns} + ' MM: ' + ${#numbers.formatDecimal(bpc.materialModifier, 1, 2)} + ' TM: ' + ${#numbers.formatDecimal(bpc.timeModifier, 1, 2)}"
                       th:value="${bpc.id}"
                       th:selected="${jobCommand.blueprintCopy != null && jobCommand.blueprintCopy.id == bpc.id}"
                       th:disabled="${jobCommand.blueprintCopy != null}"
                <!--/*@thymesVar id="jobCommand" type="squareonex.evetracker.commands.JobCommand"*/-->
                <!--/*@thymesVar id="blueprintCopy" type="squareonex.evetrackerdata.model.BlueprintCopy"*/-->
                <!--/*@thymesVar id="bpc" type="squareonex.evetrackerdata.model.BlueprintCopy"*/-->
                >
                <input type="hidden"
                       th:if="${jobCommand.blueprintCopy != null}"
                       th:field="*{blueprintCopy}"
                       th:value="${jobCommand.blueprintCopy}"
                >
            </label>
        </div>
    </div>
</div>
</body>