<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<!--/*@thymesVar id="jobCommand" type="squareonex.evetracker.commands.JobCommand"*/-->
<form th:fragment="form (jobCommand, activities, blueprintCopies, submitAction)" th:object="${jobCommand}" th:action="${submitAction}" method="post">
<div class="container container-fluid">
    <div class="row">
        <div class="col col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Enter the Job Specifics
                </div>
                <div class="panel-body">
                    <label class="col-md-2">
                        Activity
                        <select id="activitySelect" class="form-control" th:field="*{activity.name}">
                            <!--/*@thymesVar id="activity" type="squareonex.evetrackerdata.model.Activity"*/-->
                            <option th:each="activity: ${activities}" th:text="${activity.name}" th:value="${activity.name}"
                                    class="form-control"></option>
                        </select>
                    </label>
                    <label class="col-md-4">
                        Product
                        <input type="text" class="form-control" th:field="*{itemCommand.name}">
                    </label>
                    <label class="col-md-2">
                        Runs
                        <input type="number" class="form-control" th:field="*{quantity}">
                    </label>
                    <label class="col-md-3">
                        User
                        <input type="search" class="form-control" th:field="*{userCommand.name}">
                    </label>
                    <label class="col-md-1">
                        Internal
                        <input type="checkbox" class="form-control checkbox-inline" th:field="*{isInternal}">
                    </label>
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
                </div>
            </div>
        </div>
        <div class="col col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Select a Blueprint Copy
                </div>
                <div class="panel-body">
                    <label>
                        Blueprint Copy
                        <select multiple="" class="form-control" id="exampleSelect2" th:field="*{blueprintCopy}">
                            <!--/*@thymesVar id="bpc" type="squareonex.evetrackerdata.model.BlueprintCopy"*/-->
                            <option th:each="bpc: ${blueprintCopies}"
                                    th:text="'Runs: ' + ${bpc.maxRuns} + ' MM: ' + ${bpc.materialModifier} + ' TM: ' + ${bpc.timeModifier}">
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</body>
</html>
