<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<!--/*@thymesVar id="jobCommand" type="squareonex.evetracker.commands.JobCommand"*/-->
<div th:fragment="form (jobCommand, activities)" class="panel panel-primary" th:object="${jobCommand}">
    <div class="panel-heading">
        Enter the Job Specifics
    </div>
    <div class="panel-body">
        <label class="col-md-2">
            Activity
            <select id="activitySelect" class="form-control" th:field="*{activity.name}"
                    th:disabled="*{id} != null">
                <!--/*@thymesVar id="activity" type="squareonex.evetrackerdata.model.Activity"*/-->
                <option th:each="activity: ${activities}" th:text="${activity.name}"
                        th:value="${activity.name}"
                        th:selected="${activity.id} == ${jobCommand.activity.id}"
                        class="form-control"></option>
            </select>
        </label>
        <label class="col-md-4">
            Product
            <input type="text" class="form-control" th:field="*{itemCommand.name}"
                   th:disabled="*{itemCommand} != null">
        </label>
        <label class="col-md-2">
            Runs
            <input type="number" class="form-control" th:field="*{quantity}"
                   th:disabled="*{quantity} != null">
        </label>
        <label class="col-md-3">
            User
            <input type="search" class="form-control" th:field="*{userCommand.name}"
                   th:disabled="*{userCommand} != null">
        </label>
        <label class="col-md-1">
            Internal
            <input type="checkbox" class="form-control checkbox-inline" th:field="*{isInternal}"
                   th:disabled="*{isInternal} != null">
        </label>
    </div>
</div>
</body>
</html>